@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


// Переменные шрифтов
$audio: 'Audiowide', cursive;
$DMMono: 'DM Mono', monospace;
$inter: 'Inter', sans-serif;

$regular: 400;