// Шрифты
@import "fonts.scss";

// Обнуление
@import "nullstyle.scss";

// Переменные
@import "variables.scss";

/*=============================================== */
body {
	width: 100%;
	font-family: $DMMono;
	@include adaptiv-value("font-size", 16, 12, 2);
	color: $txtcolor;
	&._lock {
		overflow: hidden;
	}
}
.wrapper {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main {
	padding-top: 100px;
	flex: 1 1 auto;
}

// Ограничивающий контейнер
[class*="__container"] {
	max-width: $fullContainerWidth+px;
	margin: 0 auto;
	padding: 0px $cntpd+px;

	@media(max-width:($fullContainerWidth+px)) {
		max-width: $bp1280;
	}
	@media(max-width:$bp1280) {
		max-width: $bp1024;
	}
	@media(max-width:$bp1024) {
		max-width: $bp980;
	}
	@media(max-width:$bp980) {
		max-width: $bp760;
	}
	@media(max-width:$bp760) {
		max-width: none;
	}
}
// ===================================================

// Общие классы
.hidden {
	display: none;
}
.socials {
	display: flex;
	&-button {
		display: inline-block;
		padding: 0.5em;
		background-color: $txtcolor;
		transition: all 0.3s ease 0s;
		&:not(:last-child) {
			margin-right: 0.75em;
		}
		&:hover {
			background-color: #ffffffbd;
			transform: translate(1px, 1px);
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.twitter {}
	.discord {}
	.youtube {}
	.telegram {}
}
.logo {
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover {
		opacity: 0.7;
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}


// =========================================================

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	&::before {
		content: "";
		@extend %abs100;
		background-color: $mainbgc;
		z-index: -1;
	}
	&__container {
		padding: 10px 100px;
		@include adaptiv-value("padding-left", 100, 15, 2);
		@include adaptiv-value("padding-right", 100, 15, 2);
		min-height: 100px;
		display: flex;
		align-items: flex-end;
	}
	&__logo {
		margin-bottom: 5px;
	}
	&__menu {
		margin-left: 40px;
		padding-bottom: 15px;
	}
	&__socials {}
}
.menu {
	flex: 1 1 auto;
	display: flex;
	&__body {
		width: 100%;
	}
	&__burger {
		display: none;
	}
	&__list {
		width: 100%;
		display: flex;
		align-items: center;
	}
	&__item {
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 40, 20, 2);
		}
	}
	&__link {
		overflow: hidden;
		color: $txtcolor;
		font-size: 16px;
		&::after {
			opacity: 0;
			content: "";
			position: relative;
			display: block;
			left: -50%;
			margin-top: 0.1em;
			height: 0.1em;
			width: 100%;
			background-color: $txtcolor;
			transition: all 0.4s ease 0s;
		}
		&:hover::after {
			left: 0;
			opacity: 1;
		}
	}
}

// Menu Burger
@media(max-width:$bp760) {
	.header {
		&__menu {
			justify-content: center;
			margin: 0px 30px;
			padding-bottom: 7px;
		}
	}
	.menu {
		&__burger {
			cursor: pointer;
			display: block;
			position: relative;
			width: 2.5em;
			height: 2.2em;
			z-index: 10;
			&::before,
			&::after,
			span {
				position: absolute;
				left: 0;
				width: 100%;
				height: 4px;
				border-radius: 4px;
				background-color: $txtcolor;
			}
			&::before,
			&::after {
				content: "";
			}
			&::before {
				top: 0
			}
			&::after {
				bottom: 0;
			}
			span {
				top: 50%;
				transform: translate(0, -50%);
			}
		}
		&__body {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 150px 30px 30px 30px;
			transition: top 0.3s ease 0s;
			z-index: -2;
			overflow: auto;
			background-color: #000000e7;
			&._active {
				top: 0;
			}
		}
		&__list {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 3em;
			}
		}
		&__link {
			text-align: center;
			font-size: 1.5em;
		}
	}
}
@media(max-width:$bp480) {
	.header {
		&__menu {
			margin-right: 20px;
			justify-content: flex-end;
		}
		&__socials {
			margin-top: 40px;
			justify-content: center;
		}
	}
}
// ==========================================================

.hero {
	position: relative;
	background-color: $mainbgc;
	&::before {
		content: "";
		display: block;
		@extend %abs100;
		background: url(../img/hero/hero-bg.png) right top/contain no-repeat;
		@media(max-width:$bp1280) {
			opacity: 0.7;
		}
		@media(max-width:$bp980) {
			opacity: 0.5;
		}
	}
	&__container {
		position: relative;
		z-index: 10;
		@include adaptiv-value("padding-top", 133, 65, 2);
		@include adaptiv-value("padding-bottom", 103, 40, 2);
	}
	&__content {
		padding-left: 2em;
		max-width: calc(484px + 2em);
		@media(max-width:$bp480) {
			padding-left: 1em;
		}
	}
	&__block-text {
		margin-top: 43px;
		> div {
			@include adaptiv-value("margin-right", 155, 30, 2);
		}
	}
	&__button {
		@include adaptiv-value("margin-top", 155, 50, 2);
	}
	&__title {}
}
.main-title {
	@include adaptiv-value("font-size", 51, 32, 2);
	text-transform: uppercase;
	font-family: $audio;
	line-height: 1.19;
}
.section-title {
	font-family: $audio;
	font-size: 2.375em;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	span {
		color: #A8A8A8;
	}
}
.block-text {
	&__title {
		font-size: 1.3125em;
		color: $greenbgc;
		line-height: 1.52;
	}

	&__text {
		font-size: 1em;
		font-family: $inter;
		line-height: 1.6;
	}
}
.button {
	display: inline-block;
	padding: 1.06em 2.5em 1.6875em 2.5em;
	font-family: $DMMono;
	font-size: 1em;
	text-align: center;
	color: $mainbgc;
	text-transform: capitalize;
	background-color: $greenbgc;
	border: 1px solid $greenbgc;
	&_tp {
		color: $txtcolor;
		background-color: transparent;
	}
}