// Шрифты
@import "fonts.scss";

// Обнуление
@import "reset.scss";

// Переменные
@import "_vars.scss";

// Миксины
@import "mixins.scss";

/*=============================================== */
body {
	width: 100%;
	font-family: $DMMono;
	@include adaptiv-font(16, 12);
	color: $txtcolor;
	&._lock {
		overflow: hidden;
	}
}
.page {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main {
	padding-top: 100px;
	flex: 1 1 auto;
}

// Ограничивающий контейнер
[class*="__container"] {
	max-width: $fullContainerWidth+px;
	margin: 0 auto;
	padding: 0px $cntpd+px;
	@media(max-width:($fullContainerWidth+px)) {
		max-width: $bp1024;
	}
	@media(max-width:$bp1024) {
		max-width: $bp980;
	}
	@media(max-width:$bp980) {
		max-width: $bp760;
	}
	@media(max-width:$bp760) {
		max-width: none;
	}
}
// ===================================================

.menu {
	flex: 1 1 auto;
	display: flex;
	&__body {
		width: 100%;
	}
	&__burger {
		display: none;
	}
	&__list {
		width: 100%;
		display: flex;
		align-items: center;
	}
	&__item {
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 40, 20);
		}
	}
	&__link {
		overflow: hidden;
		color: $txtcolor;
		font-size: 16px;
		&::after {
			opacity: 0;
			content: "";
			position: relative;
			display: block;
			left: -50%;
			margin-top: 0.1em;
			height: 0.1em;
			width: 100%;
			background-color: $txtcolor;
			transition: all 0.4s ease 0s;
		}
		&:hover::after {
			left: 0;
			opacity: 1;
		}
	}
}

.socials {
	display: flex;
	&-button {
		display: inline-block;
		padding: 0.5em;
		background-color: $txtcolor;
		transition: all 0.3s ease 0s;
		&:not(:last-child) {
			margin-right: 0.75em;
		}
		&:hover {
			background-color: #ffffffbd;
			transform: translate(1px, 1px);
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.twitter {}
	.discord {}
	.youtube {}
	.telegram {}
	.in {}
}

.logo {
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover {
		opacity: 0.7;
	}
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
}

.main-title {
	@include adaptiv-value("font-size", 51, 32);
	text-transform: uppercase;
	font-family: $audio;
	line-height: 1.19;
	span {
		color: $greenbgc;
	}
}
.section-title {
	font-family: $audio;
	font-size: 2.375em;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	span {
		color: #A8A8A8;
	}
}

.block-text {
	&__title {
		position: relative;
		padding-top: 2px;
		padding-left: 1.05em;
		font-size: 1.3125em;
		color: $greenbgc;
		line-height: 1.52;
		&::before {
			content: "";
			left: 0;
			top: 0;
			position: absolute;
			display: inline-block;
			width: 0.1em;
			height: 100%;
			background-color: $greenbgc;
			border-left: 1px solid $greenbgc;
		}
	}
	&__text {
		margin-top: 2em;
		font-size: 1em;
		font-family: $inter;
		line-height: 1.6;
		> p:not(:last-child) {
			margin-bottom: 1.125em;
		}
		transition-delay: 0.3s;
	}
}

a.button, button[type="submit"].button {
	display: inline-block;
	padding: 1.06em 2.5em 1.6875em 2.5em;
	font-family: $DMMono;
	font-size: 1em;
	text-align: center;
	color: $mainbgc;
	text-transform: capitalize;
	background-color: $greenbgc;
	border: 1px solid $greenbgc;
	transition: all 0.3s ease-out 0s;
	&:hover {
		font-weight: 700;
		transform: translate3d(2px, 4px, 4px);
		box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.164);
	}
	&_transp {
		color: $txtcolor;
		background-color: transparent;
		&:hover {
			color: $greenbgc;
		}
	}
}
// =========================================================

@import "./vendor/header.scss";

@import "./vendor/hero.scss";
@import "./vendor/nft-collection.scss";
// ===============================================
@import "./vendor/marquee.scss";
@import "./vendor/artists.scss";
// ===============================================
@import "./vendor/story.scss";
@import "./vendor/roadmap.scss";
@import "./vendor/our-partners.scss";
@import "./vendor/faq.scss";
@import "./vendor/team.scss";
@import "./vendor/join-ds.scss";

@import "./vendor/footer.scss";

// ===========================================================


// Aos disable on mobile
// ====================================
@media(max-width: $bp980) {
	[data-aos] {
		pointer-events: auto !important;
	}
	html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
		opacity: 1 !important;
	}
	html:not(.no-js) [data-aos=fade-up] {
		transform: none !important;
	}
}