// Ширина вьюпорта и контейнеров
$maxWidth: 1440;
$herocnt: 1360;
$maxWidthContainer: 1160;

// Отступы безопасности
$cntpd: 15;

$fullContainerWidth: $maxWidthContainer + $cntpd + $cntpd;

$fullherocnt: ($herocnt + $cntpd + $cntpd) + px;

// Адаптивное свойство
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;

	@if $type==1 {
		// Только если меньше контейнера
		#{$property}: $startSize + px;
		@media(min-width: #{$fullContainerWidth + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$fullContainerWidth - 320}));
		}
	}
	@if $type==2 {
		// Только если больше контейнера
		#{$property}: $startSize + px;
		@media(max-width: #{$fullContainerWidth + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	}
	@else {
		// Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

// Основные переменные
$mainbgc: #000000;
$contentbgc: #222222;
$greenbgc: #8DFD1B;
$txtcolor: #FFFFFF;
$graytxt: #C4C4C4;
$footerbgc: #42006A;


// Брейкпоинты
$bp2560: 2560px;
$bp1920: 1920px;
$bp1600: 1600px;
$bp1440: 1440px;
$bp1366: 1366px;
$bp1280: 1280px;
$bp1024: 1024px;
$bp980: 980px;
$bp760: 760px;
$bp640: 640px;
$bp480: 480px;
$bp320: 320px;

// Базовые классы
%abs100 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}